@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body,
#root,
.App {
    height: 100%;
    background-color: #26171E;
    @apply text-[#F5F5F5] font-quicksand;
}

.home-clip {
    clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 0% 100%, 25% 50%, 0% 0%);
    z-index: 1;
}

::-webkit-scrollbar {
    width: 0;
}