@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Quicksand:wght@300;400;500;600;700&display=swap');

html,
body,
#root,
.App {
    height: 100%;
    background-color: #26171E;
    @apply text-[#F5F5F5] font-quicksand;
}

::-webkit-scrollbar {
    width: 0;
}